.air-datepicker {
    border: none !important;
}

.air-datepicker-body--day-name {
    color: #454545 !important;
}

.air-datepicker-cell.-selected- {
    color: white !important;
    background-color: #212529 !important;
}