@import './variables';

.project-delete-button {
    font-family: $outfit;
    font-weight: 500;
    color: $grey-300;
    padding: .2em .7em;
    font-size: 1.5rem;
    background-color: $grey-light;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 80%;
    display: none;
    cursor: pointer;
    &:hover {
        background-color: $grey-300;
        color: $grey-light;
    }
}