$outfit: "Outfit", sans-serif;
$grey-300: #454545;
$grey-200: #7c7c7c;
$grey-100: #959595;
$grey-light: #dfdfdf;
$black-300: #212529;
$border-color: #e9e9e9;

.project-delete-button {
    font-family: $outfit;
    font-weight: 500;
    color: $grey-300;
    padding: .2em .7em;
    font-size: 1.5rem;
    background-color: $grey-light;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 80%;
    display: none;
    cursor: pointer;
    &:hover {
        background-color: $grey-300;
        color: $grey-light;
    }
}