@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import './datepicker.scss';
@import './taskAdd.scss';
@import './task.scss';
@import './navigation.scss';
@import './variables.scss';
@import './projectModal.scss';
@import './detailedTask.scss';

.todo-app {
  display: grid;
  grid-template-columns: 350px auto max-content;
  grid-template-areas: 
  'nav content task';
  height: 100vh;
  padding: 30px;
}

.content {
  height: 100%;
  padding-inline: 50px;
  grid-area: content;
}

.section-heading {
  padding: 20px;
  font-family: $outfit;
  font-size: 3rem;
  font-weight: 700;
  color: $grey-300;
}

.tab-heading {
  font-family: $outfit;
  font-weight: 700;
  font-size: 5rem;
  color: $black-300;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-16 {
    padding-inline: 16px;
}